html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  min-width: 1000px;
}

.column {
  float: left;
}

.row {
  width: 100%;
  margin: 0;
}

.row:after, .row:before {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.column-12 {
  width: 100%;
}

.column-11 {
    width: 91.66%;
}

.column-10 {
    width: 83.33%;
}

.column-8 {
    width: 66.66%;
}

.column-7 {
  width: 58.33%;
}

.column-6 {
  width: 50%;
}

.column-5 {
  width: 41.66%;
}

.column-4 {
  width: 33.3%;
}

.column-3 {
  width: 25%;
}

.column-2 {
  width: 16.66%;
}

.column-1 {
  width: 8.33%;
}

.login-border {
  padding: 20px;
  border-style: solid;
  border-color: lightgray;
  border-width: 2px;
}

input {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.header-style {
  background-color: lightgray;
}
